* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }

body {
  background-color: #f3f3f3;
  margin: 0; }

a {
  text-decoration: none; }

.header {
  position: relative;
  min-height: 6.5rem;
  background-color: #252831; }
  .header__nav {
    height: 3rem;
    text-align: center; }
  .header__nav-item {
    color: #fff;
    font-size: 14pt;
    font-weight: 200;
    letter-spacing: 10px;
    text-transform: uppercase; }

.columns {
  display: flex; }

.column {
  width: 50%; }

.restaurants {
  width: auto;
  height: calc(100vh - 9.5rem);
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #f3f3f3; }
  .restaurants__title {
    color: #f18200;
    font-family: Arial,sans-serif;
    font-size: 14pt;
    font-weight: 200;
    letter-spacing: 0;
    line-height: 1.3;
    margin: 20px 0 10px;
    text-transform: uppercase;
    text-align: center; }
  .restaurants__list {
    min-height: calc(100vh - 9.5rem);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    background-color: #f3f3f3;
    list-style: outside none none;
    margin: 0;
    padding: 15px 15px;
    text-align: center; }
  .restaurants__list-item {
    background-color: #fff;
    border: 2px solid #ccc;
    font-family: Arial,sans-serif;
    margin: 15px;
    min-height: 380px;
    padding: 0 30px 25px;
    text-align: left;
    width: 300px; }
  .restaurants__img {
    background-color: #ccc;
    display: block;
    margin: 0;
    max-width: 100%;
    min-height: 248px;
    min-width: 100%; }
  .restaurants__text {
    color: #444;
    margin: 0;
    font-size: 11pt; }
    .restaurants__text--small {
      font-size: 10pt; }

.restaurant-detail {
  padding-top: 4.6rem;
  background-color: #f3f3f3; }
  .restaurant-detail__title {
    color: #f18200;
    font-family: Arial,sans-serif;
    font-size: 20pt;
    font-weight: 200;
    letter-spacing: 0;
    margin: 15px 5% 15px;
    text-transform: uppercase;
    line-height: 1.1; }
  .restaurant-detail__img {
    width: 90%;
    display: block;
    margin: 0 auto;
    border-radius: 5rem 0 5rem 0; }
  .restaurant-detail__cuisine {
    background-color: #333;
    color: #ddd;
    font-size: 12pt;
    font-weight: 300;
    letter-spacing: 10px;
    margin: 20px auto 20px;
    padding: 2px 0;
    text-align: center;
    text-transform: uppercase;
    width: 90%; }
  .restaurant-detail__address {
    font-size: 12pt;
    margin: 10px 0px;
    padding: 0 5%; }
  .restaurant-detail__hours {
    color: #666;
    padding: 0 5%;
    font-size: 12pt; }
  .restaurant-detail__list {
    margin: 0;
    padding: 0; }

.restaurant-review {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  background-color: #f3f3f3;
  padding: 10px 5% 30px; }
  .restaurant-review__title {
    color: #f58500;
    font-size: 20pt;
    font-weight: 300;
    letter-spacing: -1px;
    padding-bottom: 1pt;
    margin-bottom: 10px; }
  .restaurant-review__text {
    width: 50%;
    height: 50px;
    background-color: #252831;
    color: #fff;
    font-size: 20pt;
    padding: 10px 0 0 20px;
    border-top-left-radius: 15px; }
  .restaurant-review__date {
    top: 0;
    right: 0;
    position: absolute;
    width: 50%;
    height: 50px;
    color: #aaa;
    text-align: right;
    background-color: #252831;
    font-size: 14pt;
    white-space: nowrap;
    padding: 14px 50px 0; }
  .restaurant-review__rating {
    width: 10rem;
    padding: 7px 15px;
    text-align: center;
    background: orange;
    color: #fff;
    font-size: 11pt;
    font-weight: bold;
    color: #fff; }
  .restaurant-review__comment {
    font-size: 14pt; }
  .restaurant-review li {
    background-color: #fff;
    display: block;
    list-style-type: none;
    margin: 0 0 30px;
    overflow: hidden;
    padding: 0 0 10px;
    width: 100%;
    position: relative;
    z-index: 1; }
    .restaurant-review li::after {
      display: table;
      clear: both;
      content: ""; }
    .restaurant-review li p {
      margin: 0 0 10px; }
    .restaurant-review li td {
      color: #666; }

.content {
  position: relative; }
  .content__left {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    width: 100%; }
    .content__left--visible {
      z-index: 3; }
    @media (min-width: 800px) {
      .content__left {
        width: 50%; } }
  .content__right {
    top: 0;
    right: 0;
    position: absolute;
    z-index: 2;
    width: 100%; }
    @media (min-width: 800px) {
      .content__right {
        width: 50%; } }

.filter-options {
  width: 100%;
  height: 6.5rem;
  top: 0;
  left: 0;
  position: absolute;
  display: none;
  padding-bottom: 5px;
  align-items: center;
  background-color: #252831; }
  .filter-options--expanded {
    display: block; }
  @media (min-width: 570px) {
    .filter-options {
      width: auto;
      height: auto;
      position: static;
      display: block; } }
  .filter-options__close {
    top: 0;
    left: 16.5rem;
    position: absolute;
    display: block;
    background-color: transparent;
    border: none; }
    @media (min-width: 570px) {
      .filter-options__close {
        display: none; } }
  .filter-options__title {
    display: none;
    top: 1rem;
    left: 1rem;
    position: absolute;
    color: #fff;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1; }
    @media (min-width: 570px) {
      .filter-options__title {
        display: block; } }
  .filter-options__select {
    width: 15rem;
    height: 2.5rem;
    font-size: 10pt;
    display: block;
    margin: 5px 10px;
    background-color: #fff;
    border: 1px solid #fff;
    font-family: Arial,sans-serif;
    letter-spacing: 0;
    padding: 0 10px; }
    @media (min-width: 570px) {
      .filter-options__select {
        display: inline-block; } }
    @media (min-width: 800px) {
      .filter-options__select {
        width: 20rem;
        height: 3.5rem;
        font-size: 11pt;
        margin: 0 10px; } }

.map {
  width: 100%;
  height: calc(100vh - 9.5rem);
  background-color: #ccc; }

.btn {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: block;
  font-size: 10pt;
  margin: 15px auto 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase; }

.view-switcher {
  bottom: 5%;
  right: 2%;
  position: absolute; }
  @media (min-width: 800px) {
    .view-switcher {
      display: none; } }
  .view-switcher--is-filter {
    right: auto;
    left: 2%; }
  .view-switcher__btn {
    border: 0;
    background-color: transparent;
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase; }
    .view-switcher__btn:hover {
      cursor: pointer; }

.icon {
  color: #fff;
  margin: 5px 5px 5px 5px; }
  .icon:hover, .icon:focus {
    color: orange; }

.breadcrumb {
  top: 6.5rem;
  left: 50%;
  position: fixed;
  z-index: 2;
  padding: 10px 40px 16px;
  list-style: none;
  background-color: #eee;
  font-size: 17px;
  margin: 0;
  width: 100%; }
  .breadcrumb li {
    display: inline; }
  .breadcrumb li + li:before {
    padding: 8px;
    color: black;
    content: "/\00a0"; }
  .breadcrumb__link {
    color: #0275d8;
    text-decoration: none; }
    .breadcrumb__link:hover {
      color: #01447e;
      text-decoration: underline; }

.footer {
  left: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 3rem;
  font-size: 8pt;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #444;
  color: #aaa;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center; }
  @media (min-width: 570px) {
    .footer {
      font-size: 10pt; } }
  .footer__link {
    color: orange;
    margin: 0 2px; }

/*# sourceMappingURL=main.css.map */
