// General
$white: #fff;
$orange: #ffa500;

// Colors
$c-dark-main: #252831;
$c-dark-grey: #444;
$c-grey: #aaa;
$c-red: #a00;
$c-lighten-grey: #ccc;
$c-light-grey: #f3f3f3;
$c-orange-darken: #f18200;
$-blue-main: #0275d8;
$-blue-main: #01447e;
