* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $c-light-grey;
	margin: 0;
}

a {
  text-decoration: none;
}

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

.g-label {
  position: absolute;
  opacity: 0;
}
