.breadcrumb {
  @include fixed(left 0 top 6.5rem);
  z-index: 2;
  padding: 1rem 4rem 1.6rem;
  list-style: none;
  background-color: #eee;
  font-size: 1.7rem;
  margin: 0;
  width: 100%;

  @include atMedium {
    @include fixed(left 50% top 6.5rem);
  }

  li {
    display: inline;
  }

  li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }

  &__link {
    color: $-blue-main;
    text-decoration: none;

    &:hover {
      color: $-blue-main;
      text-decoration: underline;
    }
  }
}
