.breadcrumb {
  @include fixed(left 50% top 6.5rem);
  z-index: 2;
  padding: 10px 40px 16px;
  list-style: none;
  background-color: #eee;
  font-size: 17px;
  margin: 0;
  width: 100%;

  li {
    display: inline;
  }

  li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }

  &__link {
    color: #0275d8;
    text-decoration: none;

    &:hover {
      color: #01447e;
      text-decoration: underline;
    }
  }
}
