.btn {
  background-color: $orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: block;
  font-size: 10pt;
  margin: 15px auto 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
