.btn {
  background-color: $orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: block;
  font-size: 10pt;
  margin: 1.5rem auto 0;
  padding: 0.8rem 3rem 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-like {
  position: absolute;
  cursor: pointer;
  top: 55px;
  right: 5%;
  color: $c-grey;
  border: none;
  background-color: transparent;
  outline: none;

  .icon {
    color: $c-grey;
  }

  span {
    position: absolute;
    color: transparent;
  }

  &--is-favourite {
    .icon {
      color: $c-red;
    }
  }

  &:hover,
  &:focus {
    color: $orange;
  }
}
