.content {
  position: relative;

  &__left {
    @include absolute(top 0 left 0);
    z-index: 1;
    width: 100%;
    display: none;

    @include atLarge {
      display: block;
    }

    &--visible {
      z-index: 3;
      display: block;
    }

    @include atLarge {
      width: 50%;
    }
  }

  &__right {
    @include absolute(top 0 right 0);
    z-index:2;
    width: 100%;

    @include atLarge {
      width: 50%;
    }
  }
}
