.footer {
  @include fixed(bottom 0 left 0);
  @include sizing(100% 3rem);
  font-size: 8pt;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $c-dark-grey;
  color: $c-grey;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;

  @include atMedium {
    font-size: 10pt;
  }

  &__link {
    color: $orange;
    margin: 0 2px;
  }
}
