.footer {
  @include fixed(bottom 0 left 0);
  @include sizing(100% 3rem);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $c-dark-grey;
  color: $c-grey;
  font-size: 8pt;
  letter-spacing: 1px;
  text-transform: uppercase;

  &__link {
    color: $orange;
  }
}
