.restaurant-detail {
  padding-top: 4.6rem;
  background-color: $c-light-grey;

  &__title {
    color: #f18200;
    font-family: Arial,sans-serif;
    font-size: 20pt;
    font-weight: 200;
    letter-spacing: 0;
    margin: 15px 5% 15px;
    text-transform: uppercase;
    line-height: 1.1;
  }

  &__img {
    width: 90%;
    display: block;
    margin: 0 auto;
    border-radius: 1.5rem 0 1.5rem 0;
  }

  &__cuisine {
    background-color: #333;
    color: #ddd;
    font-size: 12pt;
    font-weight: 300;
    letter-spacing: 1rem;
    margin: 2rem auto 2rem;
    padding: 2px 0;
    text-align: center;
    text-transform: uppercase;
    width: 90%;
  }

  &__address {
    font-size: 12pt;
    margin: 10px 0px;
    padding: 0 5%;
  }

  &__hours {
    color: #666;
    padding: 0 5%;
    font-size: 12pt;
  }

  &__list {
    margin: 0;
    padding: 0;
  }
}

.restaurant-review {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  background-color: $c-light-grey;
  padding: 10px 5% 3rem;

  &__title {
    color: #f58500;
    font-size: 15pt;
    font-weight: 300;
    letter-spacing: -1px;
    padding-bottom: 1pt;
    margin-bottom: 10px;
    @include atMedium {
      font-size: 20pt;
    }
  }

  &__text {
    width: 50%;
    height: 50px;
    background-color: $c-dark-main;
    color: $white;
    font-size: 20pt;
    padding: 10px 0 0 20px;
    border-top-left-radius: 15px;
  }

  &__date {
    @include absolute(top 0 right 0);
    width: 50%;
    height: 50px;
    color: $c-grey;
    text-align: right;
    background-color: $c-dark-main;
    font-size: 14pt;
    white-space: nowrap;
    padding: 1.4rem 5rem 0;
    font-size: 11pt;
    @include atMedium {
      font-size: 14pt;
    }
  }

  &__rating {
    @include relative(left 15px);
    width: 10rem;
    padding: 0.7rem 15rem;
    text-align: center;
    background: $orange;
    color: $white;
    font-size: 11pt;
    font-weight: bold;
    color: $white;
  }

  &__comment {
    font-size: 14pt;
    padding: 0 1.5rem;
  }

  li {
    background-color: #fff;
    display: block;
    list-style-type: none;
    margin: 0 0 3rem;
    overflow: hidden;
    padding: 0 0 1rem;
    width: 100%;
    position: relative;
    border-top-left-radius: 1.5rem;
    z-index: 1;

    &::after {
      display: table;
      clear: both;
      content: "";
    }

    p {
      margin: 0 0 1rem;
    }

    td {
      color: #666;
    }
  }
}
